@use "../global" as g;

.c-pagination {
  text-align: center;

  .nums {
    display: inline-flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    justify-content: center;

    li {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #ccc;
      color: #fff;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      a {
        color: #fff;
        text-decoration: none;
      }

      &.current {
        background: #0043B0;
      }
    }
  }

  .most_left_arrow,
  .left_arrow,
  .right_arrow,
  .most_right_arrow {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background: #eee;
    color: #0043B0;
    margin: 0 5px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background: #0043B0;
      color: #fff;
    }
  }
}