@use "../global" as g;

.c-page-mv {
  width: 100%;
  height: 200px;
  background: g.$base;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23433d3d' fill-opacity='0.04' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

  .page-mv-box {
    width: 100%;
    height: 100%;

    .page-ttl-box {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .kv-ttl {
        font-size: 40px;
        font-weight: 900;
        color: g.$base_font;
      }
    }
  }
}
