//=================================
// color
//=================================

// Default color
$black: #252a34;
$white: #fff;

// color assets
$b_blue: #007FFF;
$b_darkblue: #0069B2;
$b_red: #D7263D;
$b_palered:#EB0A1E;
$b_pink: #D1597B;
$b_orange: #F19753;
$b_green: #23AC38;
$b_silver: #ADB5B9;
$b_brown:#663f3f;


// theme color
$t_light:#ffffff;
$t_dark: #222222;
