//=================================
// content-size
//=================================
// コンテンツ幅
$content_width: 1080px;

// SP時の左右の余白（片方）
$sp_side_padding: 20px;

// $pc_bp以上がPC表示
$pc_bp: 769px;

// $sp_bp以下がSP表示
$sp_bp: 768px;