//=================================
// font-family
//=================================
// $font_1: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', YuGothic, sans-serif;
$font_1: "Zen Kaku Gothic New", sans-serif;