//=================================
// hide scrollbar
//=================================
@mixin hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
