//=================================
// triangle 三角形の作成
//=================================
@mixin triangle($direction, $width, $height, $color: currentColor) {

  // 定義されている方向が指定されている、もしくは方向が指定されていなかったらエラーを返す
  @if not index(upward rightward downward leftward upper-left upper-right lower-right lower-left, $direction) {
    @error 'triangle()の方向は"upward","rightward","downward","leftward","upper-left","upper-right","lower-right","lower-left"から指定してください';
  }

  border-style: solid;
  height: 0;
  width: 0;

  @if $direction ==upward {
    border-color: transparent transparent $color transparent;
    border-width: 0 ($width / 2) $height (
      $width / 2
    );
  }

  @if $direction ==rightward {
    border-color: transparent transparent transparent $color;
    border-width: ($height / 2) 0 ($height / 2) $width;
  }

  @if $direction ==downward {
    border-color: $color transparent transparent transparent;
    border-width: $height (
      $width / 2) 0 ($width / 2
    );
  }

  @if $direction ==leftward {
    border-color: transparent $color transparent transparent;
    border-width: ($height / 2) $width (
      $height / 2) 0;
  }

  @if $direction ==upper-left {
    border-color: $color transparent transparent transparent;
    border-width: $height $height 0 0;
  }

  @if $direction ==upper-right {
    border-color: transparent $color transparent transparent;
    border-width: 0 $height $height 0;
  }

  @if $direction ==lower-right {
    border-color: transparent transparent $color transparent;
    border-width: 0 0 $height $height;
  }

  @if $direction ==lower-left {
    border-color: transparent transparent transparent $color;
    border-width: $height 0 0 $height;
  }
}

//=================================
// usage
//=================================
// 1.第1引数に方向を指定。上向き(upward)、右向き(rightward)、下向き(downward)、左向き(leftward)、左上(upper-left)、右上(upper-right)、右下(lower-right)、左下(lower-left)の８方向から選択します
// 2.第2引数に三角形の横幅を指定します
// 3.第3引数に三角形の縦幅を指定します
// 4.第4引数に三角形の色を指定します。デフォルトは現在の文字色(currentColor)
// --------------------------------
// .example {
//   position: relative;

//   &::before {
//     content: '';
//     display: inline-block;
//     position: absolute;
//   }

//   &[data-direction=upward] {
//     &::before {
//       @include triangle(upward, 20px, 15px, #cd5c5c);

//       bottom: 100%;
//       left: calc(50% - 10px);
//     }
//   }

//   &[data-direction=upper-left] {
//     &::before {
//       @include triangle(upper-left, 12px, 12px);

//       left: 6px;
//       top: 6px;
//     }
//   }
// }
// --------------------------------


//=================================
// output
//=================================
// .example {
//   position: relative;
// }

// .example::before {
//   content: '';
//   display: inline-block;
//   position: absolute;
// }

// .example[data-direction=upward]::before {
//   border-style: solid;
//   height: 0;
//   width: 0;
//   border-color: transparent transparent #cd5c5c transparent;
//   border-width: 0 10px 15px 10px;
//   bottom: 100%;
//   left: calc(50% - 10px);
// }

// .example[data-direction=upper-left]::before {
//   border-style: solid;
//   height: 0;
//   width: 0;
//   border-color: currentColor transparent transparent transparent;
//   border-width: 12px 12px 0 0;
//   left: 6px;
//   top: 6px;
// }
