//=================================
// vw
//=================================
@function vw($px, $base: 375px) {
  $value: $px;

  // 単位がpx以外の場合は警告を出してそのまま返す
  @if (unit($px) !='px') {
    @warn 'vw()の引数にpx以外の値を指定しても計算できません';
    @return $value;
  }

  $value: (
    strip-unit($px) / strip-unit($base)) * 100vw;

  @return $value;
}

//=================================
// usage
//=================================
// .foo {
//   width: vw(40px);
// }

// .bar {
//   width: vw(40px, 768px);
// }

// .baz {
//   width: vw(50%);
// }

//=================================
// output
//=================================
// .foo {
//   width: 10.66667vw;
// }

// .bar {
//   width: 5.20833vw;
// }

// .baz {
//   width: 50%;
// }
