@use "../global" as g;

.p-archive-news,
.p-archive-voice,
.p-archive-work,
.p-archive-column {
	.l-main {
		.l-contents {
			.l-two-column {
				display: flex;
				justify-content: center;
				gap: calc(100vw * 30 / 1920);
				padding-inline: calc(100vw * 200 / 1920);

				@include g.sp {
					flex-wrap: wrap;
					gap: calc(100vw * 30 / 375);
					padding-inline: calc(100vw * 16 / 375);
				}

				&__main {
					width: 80%;
					background: #fff;
					padding: calc(100vw * 30 / 1920) calc(100vw * 30 / 1920);

					@include g.sp {
						width: 100%;
						padding: calc(100vw * 30 / 375);
					}
				}
			}
		}
	}
}